{% set widths = ['u-width-8/12@ipad', 'u-width-4/12@ipad', 'u-width-1/1@ipad', 'u-width-1/2@ipad', 'u-width-1/2@ipad', 'u-width-4/12@ipad', 'u-width-8/12@ipad'] %}

<section class="o-row o-row--white">
    <div class="o-container">
        <div class="o-layout o-layout--gutter">
            {% for key, image in data.images %}
                <div class="o-layout__item o-layout__item--2@ipad c-gallery-item {{ widths[key] }} u-mt-grid">
                    <div class="u-animate js-gallery-item">
                        {{ responsiveImage(
                            image.desktop_image,
                            image.tablet_image,
                            image.mobile_image,
                            maxWidth = 1280,
                            parentClass = "c-gallery-item__media u-block",
                            childClass = "e-media e-media--cover",
                        ) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>