{% set widths = ['8/12', '4/12', '1/1', '1/2', '1/2', '4/12', '8/12'] %}

<section class="o-row o-row--white">
    <div class="o-container">
        <div class="o-layout o-layout--gutter">
            {% for key, image in data.images %}
                <div class="o-layout__item o-layout__item--2@ipad c-gallery-item u-width-{{ widths[key] }}@ipad u-mt-grid u-animate js-gallery-item">
                    {{ responsiveImage(
                        image.desktop_image,
                        image.tablet_image,
                        image.mobile_image,
                        maxWidth = 1280,
                        parentClass = "c-gallery-item__media",
                        childClass = "e-media e-media--cover",
                    ) }}
                </div>
            {% endfor %}
        </div>
    </div>
</section>