# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/themes/twentytwentythree/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/cache/*

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# NPM
/node_modules

# WP-CLI
wp-cli.local.yml

# Theme
web/app/themes/cottage-retreat/vendor
web/app/themes/cottage-retreat/node_modules
web/app/themes/cottage-retreat/mix-manifest.json
web/app/themes/cottage-retreat/resources/dist

# Languages
web/app/languages