/* ==========================================================================
	* Settings - Inputs
========================================================================== */

/**
 * Settings for our buttons, set up our style here for what we
 * want our buttons to look like.
 *
 */

$button-weight: $font-regular;
$button-spacing: 14px $spacing-grid;
$button-font-size: $font-size-small;
$button-line-height: $line-height-small;
