/* ==========================================================================
   * Settings - Inputs
   ========================================================================== */

/**
 *  Settings for our inputs, set up our style here for what we
 *  want our inputs to look like.
 *
 */

$inputs-border: 1px solid $colour-primary;
$inputs-colour: $colour-primary;
$inputs-placeholder: $grey;
$inputs-background: $white;
$inputs-spacing: 14px $spacing-2x;
$input-font-size: $font-size-small;
$input-line-height: $line-height-small;
